<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
</head>
<body>
    <h1>图书列表</h1>
    <div>
        <a href="{% url 'add_book' %}">添加图书</a>
    </div>
    <table>
        <tr>
            <th>id</th>
            <th>书名</th>
            <th>定价</th>
            <th>出版社</th>
            <th>零售价</th>
            <th>删除</th>
            <th>修改</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.pub_house }}</td>
                <td>{{ book.market_price }}</td>
                <td><a href="{% url 'delete_book' book.id %}">删除</a></td>
                <td><a href="{% url 'edit_book' book.id %}">修改</a></td>
            </tr>
            {% endfor %}
</body>
</html>